 .moneyPill{
    display: flex;
    align-items: center;
    width : fit-content;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: var(--rounded-lg);
    box-shadow : var(--shadow);
    font-size: 1rem;
    line-height: 1rem;
    background-color: var(--light);
}

.amount {
    font-family: var(--ft-bold);
    color : var(--primary);
}

